@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif;
}

.headerLogo {
    margin-top: 12px;
}

.al-select {
    width: 50%;
}

@media (max-width: 768px) {
    .al-select {
        width: 100%;
    }
}


.custom-scrollbar::-webkit-scrollbar {
    width: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
